@tailwind base;
@tailwind components;
@tailwind utilities;




.header {
  height: 50vh;
  background: linear-gradient(
      to bottom,
      transparent,
      var(--header-background-end)
    )
    var(--header-background-start);
  background-image: url('../../public/Type=HeaderGradient.png');
  background-size: cover;
  background-position: center;
}
